@model urunStokTakibi.Models.urun

@{
    ViewData["Title"] = "Guncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<h1>Ürün Güncelleme</h1>
<br />


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Guncelle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label">Ürün Kodu</label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ad" class="control-label">Ürün Adı</label>
                <input asp-for="Ad" class="form-control" />
                <span asp-validation-for="Ad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="urunRengi" class="control-label">Ürün Rengi</label>
                <input asp-for="urunRengi" class="form-control" />
                <span asp-validation-for="urunRengi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ListeFiyatı" class="control-label">Liste Fiyatı</label>
                <input asp-for="ListeFiyatı" class="form-control" />
                <span asp-validation-for="ListeFiyatı" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stokAdeti" class="control-label">Stok Durumu</label>
                <input asp-for="stokAdeti" class="form-control" />
                <span asp-validation-for="stokAdeti" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydı Güncelle" class="btn btn-primary" /> &nbsp&nbsp <a asp-action="Listele"><input type="button" value="Ürün Listesine Geri Dön" class="btn btn-primary" /></a>
            </div>
        </form>
    </div>
</div>
<br />
<br />
<br />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
