@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br /><br /><br />
    <h1 class="h11">Atalar Elektrik Ürün Stok Takip Sayfasına <br /> Hoşgeldiniz</h1><br />
    <p>E Ticaret Fayfasına Ulaşmak İçin <a href="https://www.atalarelektrik.com/">atalarelektrik.com</a> Sayfasını ziyaret edebilirsiniz.</p>
</div>
